* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  height: 100%;
  background-image: url("./bg.jpg");
  color: white;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
.btnG{
  display: flex;
  width: 40vw;
  justify-content: space-around;
  align-items: center;
  .gray{background: gray;}
  .green{background:#67c23a;}
  .red{background:#f56c6c;}
}
button{
  height: 3vw;
  width: 6vw;
}
.table{
  display: flex;
  align-items: center;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(177, 6, 180);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  max-width: 5vw;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}
.accueil{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
