* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  height: 100%;
  background-image: url("./bg.jpg");
  color: white;
}
.home{
  display: flex;
  justify-content: center;
  width: 5vw;
  height: 4vw;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
.btnG{
  display: flex;
  width: 40vw;
  justify-content: space-around;
  align-items: center; 
}
.image{
  margin: 50px auto;
  position: relative;
  transition: transform 0.5s ease;
}

.image:hover {
  animation: float 2s ease infinite;
}

@keyframes float {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
  100% {
      transform: translateY(0);
  }
}

.table{
  display: flex;
  align-items: center;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(177, 6, 180);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  max-width: 5vw;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}
.accueil{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hide{
  display: none;
}
.hideanimation{
  display: none;
}
.animation{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 80vw;
}
.result{
  width: 20vw;
  display: flex;
  justify-content: space-between;
  .image{
    animation: float 0.5s ease 3;
  }
}

:root {
  --hue: 310;
  --hue-adjust: 135;

  --hue-2: calc(var(--hue) + var(--hue-adjust));

  --page-background: oklch(10% 0.0666 var(--hue));
}

button {
  --button-background: oklch(20% 0.0666 var(--hue));
  --text-base: oklch(45% 0.175 var(--hue));
  --text-hover: oklch(95% 0.145 calc(var(--hue) + 30));

  --shadow-start: oklch(95% 0.145 var(--hue-2));
  --shadow-end: oklch(60% 0.29 var(--hue));

  --shadow-inner: 60% 0.29 var(--hue);

  all: unset;

  color: var(--text-base);
  font: 700 1.125rem/1.2 Raleway, sans-serif;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;

  padding: 0.85em;
  max-width: 100%;
  width: 12em;

  background-color: var(--button-background);
  background-clip: padding-box;
  border: 5px solid var(--text-base);
  border-radius: 2em;
  cursor: pointer;

  position: relative;
  transition: 0.25s ease-out;

  &::before,
  &::after {
    content: "";
    border-radius: inherit;
    transition: inherit;
    position: absolute;
    inset: 0;
    pointer-events: none;
  }

  &::before {
    inset: -0.2em;
    z-index: -1;

    background: linear-gradient(var(--shadow-start), var(--shadow-end));
    filter: blur(1.2em) saturate(1.2);

    transform-origin: bottom;
    transform: scaleY(0.5);
    opacity: 0;
  }

  &::after {
    box-shadow: inset 0 0 0 1px #fff, 
      0 0 0 4px hsla(0deg, 0%, 100%, 0.5),
      1px 1px 0 4px #fff;
    mix-blend-mode: overlay;

    opacity: 0;
  }

  &:hover,
  &:focus {
    color: var(--text-hover);

    border-color: transparent;

    box-shadow:
      inset 0 1.4em 0 oklch(var(--shadow-inner) / 0.1), 
      inset 0 0 1.4em oklch(var(--shadow-inner) / 0.32), 
      0 1px 1px oklch(var(--shadow-inner) / 0.32); 

    &::before,
    &::after {
      transform: none;
      opacity: 1;
    }
  }
}